#Python 3.8 or 3.9 Version Required for this packges.

asgiref==3.2.0
autopep8==1.5.0
boto3==1.14.0
botocore==1.17.0
Django==2.2.0
django-cors-headers==3.4.0
django-storages==1.9.0
djangorestframework==3.11.0
djangorestframework-simplejwt==4.6.0
gunicorn==20.0.4
jmespath==0.10.0
Pillow==7.0.0
psycopg2==2.8.5
pycodestyle==2.6.0
PyJWT==1.7.1
python-dateutil==2.8.0
pytz==2019.3
s3transfer==0.3.0
six==1.14.0
sqlparse==0.3.0
toml==0.10.0
urllib3==1.25.0
whitenoise==5.0.0