{% extends 'main.html' %}

{% block content %}
<head>
    <style>
    #customers {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    #customers td, #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    
    #customers tr:nth-child(even){background-color: #f2f2f2;}
    
    #customers tr:hover {background-color: #ddd;}
    
    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #51546e;
      color: white;
    }
    </style>
    </head>
<!-- Main Section -->
<main class="home">
    <section class="hero-section text-center">
        <div class="container container--narrow">
            <div class="hero-section__box">
                <h2> <span>DEVELOPERS</span></h2>
                <h2>FROM AROUND THE WORLD</h2>
            </div>

            <div class="hero-section__search">

                <form id="searchForm" class="form" action="{% url 'profiles' %}" method="get">
                    <div class="form__field">
                        <label for="formInput#search">Search Developers </label>
                        <input class="input input--text" id="formInput#search" type="text" name="search_query"
                            value="{{search_query}}" placeholder="Search Developer Name" />
                    </div>

                    <input class="btn btn--sub btn--lg" type="submit" value="Search" />
                </form>

            </div>
        </div>
    </section>
    <!-- Search Result: DevList -->
    <section class="devlist">
        <div class="container">
            <div class="grid grid--three">

                {% for profile in profiles %}
                <div class="column card">
                    <div class="dev">
                        <a href="{% url 'user-profile' profile.id %}" class="card__body">
                            <div class="dev__profile">
                                <img class="avatar avatar--md" src="{{ profile.imageURL }}" alt="image" />
                                <div class="dev__meta">
                                    <h3>{{profile.name}}</h3>
                                    <h5>{{profile.short_intro|slice:"60"}}</h5>
                                </div>
                            </div>
                            <p class="dev__info">{{profile.bio|slice:"150"}}</p>
                            <div class="dev__skills">

                                {% for skill in profile.skill_set.all|slice:"5" %}
                                <span class="tag tag--pill tag--main">
                                    <small>{{skill}}</small>
                                </span>
                                {% endfor %}

                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
    
    <div class="container mt-3">
    <table id="customers">
        <tr>
          <th>Name</th>
          <th>Introduction</th>
          <th>Email</th>
          <th>Skills</th>
          <th>Phone Number</th>

        </tr>
        {% for profile in profiles %}  
        <tbody>
          <tr>
            <td>{{profile.name}}</td>
            <td>{{profile.short_intro|slice:"60"}}</td>
            <td>{{profile.email}}</td>
            <td> {% for skill in profile.skill_set.all|slice:"5" %}
              <span class="tag tag--pill tag--main">
                  <small>{{skill}}</small>
              </span>
              {% endfor %}
            </td>
            <td>{{profile.phone_no}}</td>
          </tr>
        </tbody>
        {% endfor %}  
        
        
      </table>
    </div> 
      </body>

   <!-- <body>
   
      <div class="container mt-3">
        <h2>Dark Striped Table</h2>
        <p>Combine .table-dark and .table-striped to create a dark, striped table:</p> 
                 
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
            </tr>
          </thead>
          {% for profile in profiles %}  
          <tbody>
            <tr>
              <td>{{profile.name}}</td>
              <td>{{profile.short_intro|slice:"60"}}</td>
              <td> {% for skill in profile.skill_set.all|slice:"5" %}
                <span class="tag tag--pill tag--main">
                    <small>{{skill}}</small>
                </span>
                {% endfor %}
</td>
            </tr>
          </tbody>
          {% endfor %}  
        </table>
      </div>
     
      </body> -->
    {% include 'pagination.html' with queryset=profiles custom_range=custom_range %}
</main>

{% endblock content %}